/* Animation عند الفتح */
.modal.fade .modal-dialog {
    transform: translateY(50px) scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
}

.modal.show .modal-dialog {
    transform: translateY(0) scale(1);
    opacity: 1;
}

/* خلفية Blur */
.modal-backdrop.show {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
}

.custom-modal {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.custom-header {
    background: linear-gradient(135deg, #1d2671, #c33764);
    color: white;
}

.locker-info {
    text-align: center;
    margin-bottom: 15px;
}

.locker-info h4 {
    font-weight: bold;
}

.status-select.clean {
    border: 2px solid green;
}

.status-select.not-clean {
    border: 2px solid red;
}

.confirm-btn {
    transition: all 0.3s ease;
}

.confirm-btn:hover {
    transform: scale(1.05);
}

/* wrapper */
.check-row {
    position: relative;
    /* للـ absolute داخل السطر */
    display: block;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    /* إزالة أي highlight */
}

/* checkbox مطلق */
.check-absolute {
    position: absolute;
    left: 10px;
    /* من أقصى اليمين بسبب dir=rtl يمكن تغييره */
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    accent-color: #198754;
    outline: none;
    box-shadow: none;
}

/* النص متباعد عشان checkbox ما يغطيه */
.check-text {
    display: inline-block;
    padding-left: 30px;
    /* مسافة كافية للـ checkbox */
}

/* hover effect */
.check-row:hover {
    background-color: #f1f1f1;
}

/* checked effect */
.check-absolute:checked+.check-text {
    font-weight: bold;
    color: #198754;
}